.blog {
    border: 1px solid rgba(0, 195, 255, 10%);
    margin: 10px;
    padding: 10px;

}
.blog:hover {
    background-color: rgba(0, 195, 255, 10%);
    cursor: pointer;
}
.body {
    background-color:rgba(0, 195, 255, 10%);
}